---
import Layout from '../layouts/Layout.astro';

import styles from '../styles/main.module.scss'
import text from '../styles/core/text.module.scss'
import layout from '../styles/core/layout.module.scss'

import Form from '../components/form/Form.astro';

---

<Layout title="Think Piano">
	<header class={styles.header}>
		<div class={layout.maxPage}>
			<p class={text.med}>Think Piano</p>
		</div>
	</header>
	<main>
		<!-- HERO -->
		<div class={styles.hero} style="background-image: url('images/closeup.jpg')">
			<!-- <img  src="images/closeup.jpg" /> -->
			<div class={layout.maxPage}>
				<div class={styles.heromsg}>
					<h1 class={text.heroTitle}>Think Piano</h1>
					<h3 class={text.heroSubTitle}>Unleash Your Inner Musician with Expert Piano Lessons</h3>
				</div>
			</div>
		</div>

		<!-- ABOUT -->
		<div class={layout.RowCenter}>
			<div class={layout.maxPage}>
				<div class={styles.about}>
					<div class={styles.aboutleft}>
						<h3 class={text.studyTitle}>Why Study With Us?</h3>
						<p class={styles.why}>
							<br/>
							Studying at our music studio is the perfect way to enhance your musical
							skills and reach new levels of excellence. Our experienced instructors will provide personalized attention and guidance to help you achieve your goals. Whether you are a beginner looking to learn the basics or a seasoned musician seeking to perfect your craft, we have the resources and expertise to support you.						</p>
					</div>
					<div class={styles.aboutright}>
						<img class={styles.me} src="images/me.jfif" />
					</div>
				</div>
			</div>
		</div>

		<!-- CONTACT -->
		<div class={styles.contact}>
			<div class={layout.maxPage}>
				<Form />
			</div>
		</div>

		<!-- Reviews -->
		<!-- <div class={styles.reviews}>
		
		</div> -->

	</main>

	<footer class={styles.footer}>
		Seth Climenhaga
	</footer>
</Layout>
